<div class="col-md-8 offset-md-2">
    <a href="/home/newcategory" class="btn btn-success">New Category</a>
    <br>
    <table class="table table-hover table-striped table-bordered">
        <tbody>
            <tr>
                <th>Category Name</th>
                <th>Edit</th>
            </tr>
            <% for(let i= 0; i < categories.length; i++) { %>
                <tr>
                    <td>
                        <%= categories[i].Name %>
                    </td>
                    <td>
                        <a href="/items/editcategory?id=<%=categories[i].Id %> " class="btn btn-warning">Edit</a>
                    </td>
                </tr>
                <%}%>
        </tbody>
    </table>
</div>