<form method="post" action="/items/updateCategory">
    <input type="text" value="<%=category.Name%>" class="form-control-lg form-control" placeholder="Category Name" name="name">
    <input type="hidden" name="id" value="<%=category.Id%>">
    <br>
    <button class="btn btn-danger btn-block">Update</button>
</form>