<form method="post" action="/items/addCategory">
    <input type="text" class="form-control-lg form-control" placeholder="Category Name" name="name">
    <br>
    <button class="btn btn-primary btn-block">Save</button>
</form>